@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

:root{
    --space-cadet: #1c1f33;
    --old-lavender: #666370;
    --burnished-brown: #9b7874;
    --english-vermillion: #d33e43;
    --red-ryb: #ff220c;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--space-cadet);
    color: var(--burnished-brown);
    font-family: 'Sono', sans-serif;
}

.nav-bar{
    display: flex;
    margin: 2rem;
    justify-content: space-between;
    font-size: 1rem;
    height: 4rem;
    border-bottom: 1px solid var(--burnished-brown);
}
.nav-items-logo{
    font-size: 2rem;
    transition: 1s;
    height: fit-content;
}
.nav-items-logo:hover{
    transform: translateX(10rem);
}
.nav-items-links{
    list-style: none;
    display: flex;
    margin-top: .5rem;
    padding: 0;
}
.nav-items-links li{
    margin-left: 2rem;
    transition: 0.2s;
}
.nav-items-links li:hover{
    cursor: pointer;
    color: var(--old-lavender);
}
.nav-items-menu{
    position: absolute;
    display: none;
    font-size: 2rem;
}
.darkmode-btn{

}

.content1{
    margin: 2rem;
    display: flex;
    justify-content: space-between;
}
.content1-card{
    border: 1px solid var(--burnished-brown);
    border-radius: 5px;
    height: fit-content;
    width: fit-content;
    padding: .1rem 1rem;
    padding-bottom: 1rem;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 40rem; /* Full width */
  border: 1px solid var(--burnished-brown);
  border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    .container{ 
        width: 35rem;
    }
}

@media only screen and (max-width: 1150px) {
    .container{ 
        width: 30rem;
    }
}

@media only screen and (max-width: 1050px) {
    .container{ 
        width: 25rem;
    }
}

@media only screen and (max-width: 1000px) {
    .container{ 
        width: 20rem;
    }
}

@media only screen and (max-width: 900px) {
    .container{
        width: 24rem;
    }
    .content1{
        display: block;
    }
    .nav-items-links{
        position: absolute;
        display: none;
    }
    .nav-items-menu{
        display: block;
        position: relative;
    }
    .content1-card{
        margin-top: 40px;
    }
}

@media only screen and (max-width: 510px) {
    .container{
        width: 20rem;
    }
    .content1-text{
        margin-right: 2rem;
    }
}

@media only screen and (max-width: 446px) {
    .container{
        width: 16rem;
    }
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  padding-right: 4px;
  border-radius: 5px;
}

.java {
    width: 80%;
    border: 1px solid var(--burnished-brown);
} /* Green */
.html {
    width: 70%;
    border: 1px solid var(--burnished-brown);
} /* Blue */
.js {
    width: 50%;
    border: 1px solid var(--burnished-brown);
} /* Red */
.php {
    width: 40%;
    border: 1px solid var(--burnished-brown);
} /* Dark Grey */
.symfony {
    width: 20%;
    border: 1px solid var(--burnished-brown);
} /* Dark Grey */

.footer-wrapper{
    bottom: 0;
    margin: 2rem;
    padding-top: 2rem;
    border-top: 1px solid var(--burnished-brown);
}
.footer-content{
    display: flex;
    justify-content: center;
}
.footer-logo{
    font-size: 2rem;
    margin-top: 2.5rem;
    height: fit-content;
    margin-right: 2rem;
}
.footer-items-links{
    border-left: 1px solid var(--burnished-brown);
}

.nav-items-links-menu{
    /* nav_items_links.style.display = "block";
    nav_items_links.style.backgroundColor = "var(--old-lavender)";
    nav_items_links.style.color = "var(--space-cadet)";
    nav_items_links.style.height = "fit-content";
    nav_items_links.style.top = "0px";
    nav_items_links.style.left = "0px";
    nav_items_links.style.right = "0px";
    nav_items_links.style.textAlign = "center"; */
    display: block;
    background-color: var(--space-cadet);
    height: fit-content;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}

code{
    border-radius: 2px;
    background-color: var(--burnished-brown);
    color: var(--space-cadet);
    padding: 3px;
}

p{
    line-height: 23px;
}

.content1-buttons{
    display: flex;
    right: 0;
    text-align: center;
}

.button_big{
    border: 1px solid var(--burnished-brown);
    border-radius: 4px;
    font-size: 1.05rem;
    padding: 5px 12px;
    transition: 0.2s;
}

.button_big:hover{
    cursor: pointer;
    background-color: var(--old-lavender);
    color: var(--space-cadet);
}

.button_read_more{
    
}

.button_my_work{
    margin-left: 20px;
}



.work-grid-container {
    display: grid;
    gap: 14px;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

@media only screen and (max-width: 1530px){
    .work-grid-container{
        grid-template-columns: auto auto;
    }
}

.work-grid-item{
    border: 2px solid var(--burnished-brown);
    border-radius: 8px;
    height: 26vh;
    width: 64vh;
    padding-top: 3vh;
    text-align: center;
    transition: 0.2s;
}

.work-grid-item-header{
    font-size: 4vh;
}

.work-grid-item-paragraph{
    font-size: 2vh;
    padding-top: 2vh;
}

.work-grid-item:hover{
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.tune-icon{

}